TURSO_DATABASE_URL=file:./local.db
TURSO_AUTH_TOKEN=
AUTH_SECRET=replace-with-openssl-rand-base64-32
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
ADMIN_SEED_EMAILS=a@ucsc.edu,b@ucsc.edu,c@ucsc.edu
NEXT_PUBLIC_SITE_URL=http://localhost:3000
